# Environment / Secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/
backend/venv/
backend/.venv/

# Django
*.log
db.sqlite3
staticfiles/
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Temporary files
*.tmp
*.temp